.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.left-side {
  display: flex; 
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 1.0em;
}

.nav-link-wrapper {
  height: 22px;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
}

.nav-link-wapper a:hover {
  color: #3D9970;
}

.content-wrapper {
  padding: 90px;
}

.summary {
  float: left;
}

.headshot {
  float: right;
}
