.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.left-side {
  display: flex; 
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 1.0em;
}

.nav-link-wrapper {
  height: 22px;
}

.nav-link-wrapper a {
  color: #A2A2A2;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link-wrapper a:hover {
  color: #3D9970;
}

.page-title > div {
  font-size: 2.0em;
  color: #2463AB;
}

.content-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}

.summary {
  float: left;
  width: 500px;
  height: 500px;
  font-size: 20px;
}

.headshot {
  float: right;
}
