@import url(https://fonts.googleapis.com/css?family=Archivo);

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.right-side {
  display: flex; 
}

.nav-wrapper > .right-side > div {
  margin-right: 20px;
  font-size: 1.0em;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #999;
  text-decoration: none;
}


