<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="https://github.com/rfayyazi">GitHub</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
<!-- 	        		<li><a href="mailto:rfayyazi@gmail.com">email</a></li> -->
				<li><p style="color:grey;font-size:10px;">&copy Ryan Fayyazi 2019 </p><li>
				<li><p style="color:grey;font-size:10px;"> | </p><li>
				<li><p style="color:grey;font-size:10px;"><a href="mailto:ryanfayyazi@gmail.com">ryanfayyazi@gmail.com</a></p><li>

			</ul>
			</footer>
		</body>
	</html>
